<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Mixare.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MixareLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Plugins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Resources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E29C3A3816AD7A540092F97C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E29C76611696D9DB0006C4D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E29C771F1696F96B0006C4D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E29C779D16972BF00006C4D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2A0B6F416AD8387007920B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2A0B70E16AD8BC1007920B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2DFCF80160B25470045A6C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
